/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.table-container {
  border-radius: 8px;
  overflow: auto;
}

.filter-field {
  min-width: 192px;
}

.loan-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.loan-actions button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

table {
  width: 100%;
}
