<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="search-tool hide-lt-sm">
  <mat-form-field class="search-field">
    <mat-label>{{ 'labels.text.Search' | translate }}</mat-label>
    <input
      #searchInput
      matInput
      type="text"
      [formControl]="query"
      placeholder="{{ 'labels.text.Search clients and loans' | translate }}"
      (keydown.enter)="search()"
    />
    @if (query.value) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        class="clear-button"
        (click)="clear()"
        [attr.aria-label]="'labels.buttons.Cancel' | translate"
      >
        <fa-icon icon="times"></fa-icon>
      </button>
    }
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="search()"
      [attr.aria-label]="'labels.text.Search' | translate"
      matTooltip="{{ 'labels.text.Search' | translate }}"
    >
      <fa-icon icon="search"></fa-icon>
    </button>
  </mat-form-field>
</div>
